<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDay Dumproom | Home</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
   <nav>
    <h1>B'Day Dumproom</h1>
    <div>API for storing for birthday dates.</div>
   </nav>
   <div id="home-navbar">
    <a href="/closest_b'day"><div id="closest">The Closest B'Day</div></a>
    <a href="/search"><div id="search">Search B'Day By Name</div></a>
    <a href="/create"><div id="create">New B'Day</div></a>
   </div>
   <% if(birthdays.length > 0) { %>
    <% birthdays.forEach(birthday => { %>
        <div class="birthday">
            <div class="birthdayText">
              <h3 class="birthdayName"><%= birthday.person %></h3>
              <p class="birthdayDate"><%= birthday.birthdayDate.toLocaleDateString() %></p>
            </div>
            <div class="logos">
                <a href='/update/<%= birthday._id %>'><div class="editDiv" data-id="<%= birthday._id %>">
                    <svg fill="white" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32zm-622.3-84c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 0 0 0-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 0 0 9.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9z"></path> </g></svg>
                </div></a>
                <div class="trashDiv" data-id="<%= birthday._id %>">
                    <svg fill="white" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 485 485" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <rect x="67.224" width="350.535" height="71.81"></rect> <path d="M417.776,92.829H67.237V485h350.537V92.829H417.776z M165.402,431.447h-28.362V146.383h28.362V431.447z M256.689,431.447 h-28.363V146.383h28.363V431.447z M347.97,431.447h-28.361V146.383h28.361V431.447z"></path> </g> </g> </g></svg>
                </div>
            </div>
        </div>
    <% })  %>
   <% } %>
    </div>
   <script>
       const trashDivs = document.querySelectorAll("div.trashDiv")

       trashDivs.forEach(trashDiv => {
        trashDiv.addEventListener("click", () => {
            const endpoint = `/birthday/${trashDiv.dataset.id}`;

            fetch(endpoint,{
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then(result => window.location.href= result.redirect)
            .catch(err => console.log(err));
        })
       })
   </script>
</body>
</html>